name: Periphery

on:
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  periphery:
    uses: infomaniak/.github/.github/workflows/periphery.yml@v2
