name: Validate localization files

on:
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  validate:
    uses: infomaniak/.github/.github/workflows/validate-localization.yml@v2
    secrets: inherit
